
{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container mt-5">
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-1 text-danger">404</h1>
                <h2 class="text-danger">Page non trouvée</h2>
                <p class="lead text-muted">Désolé, la page que vous recherchez n'existe pas.</p>
            </div>
        </div>
    </div>
{% endblock %}
