{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    body {
        background-color: #f8f9fa;
    }

    .form-container {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 50px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    </style
    {% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<br>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card form-container">
                    <div class="card-body">
                <h2 class="text-center mb-4">Connexion</h2>
                                    <form action="{{ path('app_login') }}" method="post">

                                        <div class="form-outline mb-4">
                                            <input type="email" id="username" name="_username" class="form-control form-control-lg"  />
                                            <label class="form-label" for="username">Email address</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="password" name="_password" class="form-control form-control-lg" />
                                            <label class="form-label" for="password">Password</label>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-block" type="submit">{{ button_label|default('se connecter') }}</button>
                                        </div>

                                        <a class="small text-muted" href="#!">Forgot password?</a>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{{ path('app_register') }}"
                                                                                                                  style="color: #393f81;">Register here</a></p>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
