{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <br>
        <h1> Paiement validé</h1>
        <div class="alert alert-success" role="alert">
            <i class="fas fa-check-circle"></i> Paiement effectué avec succès. Merci !
            <p>Votre commande n°{{ order.reference }} a bien été prise en compte</p>
        </div>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>

{% endblock %}
