{% extends 'base.html.twig' %}

{% block title %} Paiement effectué avec succès {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
{% endblock %}

{% block body  %}

    {% set total = 0 %}
    {% for item in recapCart %}
        {% set total = total + (item.product.price * item.quantity) + transporter %}
    {% endfor %}

    <div class="container mt-5">
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <i class="fas fa-check-circle fa-5x text-success mb-4"></i>
                <h1 class="mb-4">Paiement effectué avec succès</h1>
                <p class="fs-5">Vous avez payé {{ total / 100 }} €</p>
                <a href="{{ path('app_home') }}" class="btn btn-success">Retour à l'accueil</a>
            </div>
        </div>
    </div>

{% endblock %}
